/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
/yum-daemon/dbus-test
/yum-daemon/examples/vala/yum-api-test
/yum-daemon/examples/c/dbus-yum-test
/yum-daemon/log.txt
/yum-daemon/Yum_Deamon.nja
